ol {
    list-style-type : none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(1, 1, 8)
  }

  li { float: left ; }

  a {
    display: block;
    color: white ;
    text-align: centre;
    padding:14px 16px;
    text-decoration:none;
  }
 li a:hover {
            background-color: rgb(87, 85, 85)

 }